In [1]:
import pandas as pd
import import_ipynb
import h1_ENB_occ as h1 
import h2_ENB_gen as h2

importing Jupyter notebook from h1_ENB_occ.ipynb
importing Jupyter notebook from c1_extract_paragraphe_issue.ipynb
Issue  34
importing Jupyter notebook from c2_extract_sentence_issue.ipynb
importing Jupyter notebook from g1_generate_dictionary.ipynb
importing Jupyter notebook from h2_ENB_gen.ipynb
[nltk_data] Downloading package punkt to /Users/tes/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/tes/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
['COMIFAC ', 'PERU', 'CACAM', 'ITALY', 'HAITI', 'MOUNTAIN LANDLOCKED DEVELOPING COUNTRIES', 'PANAMA', 'CZECH REPUBLIC', 'ERITREA', 'ANTINGUA AND BARBUDA', 'ANTIGUA AND BARBUDA', 'MAURITANIA', 'NIUE', 'YEMEN', 'TOGO', 'AZERBAIJAN', 'SRI LANKA', 'MALAYSIA', 'ECUADOR', 'COMOROS', 'OPEC', 'for the Arab Group', 'for the League of Arab States', 'ARAB GROUP', 'CAMBODIA', 'UKRAINE', 'EQUATORIAL GUINEA', 'NETHERLANDS', 'SAMOA', 'LIBYA', 'MOROCCO', 'ROMANIA', 'INDONESIA', 'VANUATU', 'SADC', 'SOUTHERN AFRICA DEVELOPMENT COMMUNITY', 'GRENAD', 'GRENADA', 'CAMEROON', 'CENTRAL AMERICAN GROUP', 'COSTA RICA', 'EU', 'EUROPEAN UNION', 'for the European Union', 'LEBANON', 'MAURITIUS', 'PHILLIPPINES', 'PHILIPPINES', 'PHILLIPINES', 'SAINT LUCIA', 'COLOMBIA', 'QATAR', 'OMAN', 'MACEDONIA', 'CHILE', 'MYANMAR', 'TURKMENISTAN', 'LATVIA', 'NICARAGUA', 'LMDCS', 'LIKE MINDED DEVELOPING COUNTRIES', 'LMDC', 'for the Like Minded Developing Countries', 'UGANDA', 'FINLAND', 'GUATEMALA', 'REPUBLIC OF CONGO', 'ETHIOPIA', 'LUXEMBOURG', 'GUINEA', 'TURKEY', 'EL SALVADOR', 'CONGO BASIN COUNTRIES', 'CROATIA', 'KENYA', 'KOREA', 'REPUBLIC OF KOREA', 'MALAWI', 'TRINDAD AND TOBAGO', 'TRINIDAD AND TOBAGO', 'TRININDAD AND TOBAGO', 'ZAMBIA', 'JORDAN', 'NORWAY', 'NORWARY', 'JAMAICA', 'FIJI', 'IRELAND', 'BAHAMAS', 'BOTSWANA', 'PALAU', 'ARAB EMIRATES', 'UAE', 'KIRIBATI', 'CARIBBEAN COMMUNITY', 'CAPE VERDE ', 'ZIMBABWE', 'ZIMABABWE', 'LIBERIA', 'SLOVENIA', 'GUINEA BISSAU', 'TAJIKISTAN', 'INDIA', 'MARSHALL ISLANDS', 'BENIN', 'COALITION FOR RAINFOREST NATIONS', 'ICELAND', 'UMBRELLA GROUP', 'UG', 'for the Umbrella Group', 'G77 & CHINA', 'G-77/CHINA', 'G77-CHINA', 'G-77/ CHINA', 'for the Group of 77 and China', 'for the G-77/China', 'G77', 'for the G-77/ China', 'G77/CHINA', 'RUSSIA', 'RUSSIAN FEDERATION', 'AFGHANISTAN', 'BELARUS', 'KAZAKHSTAN', 'KAZAKSTAN', 'SOUTH AFRICA', 'MOZAMBIQUE', 'VIET NAM', 'VIETNAM', 'NAURU', 'SOLOMON ISLANDS', 'TANZANIA', 'LIECHTENSTEIN', 'LICHTENSTEIN', 'GEORGIA', 'BURKINA FASO', 'CHINA', 'SUDAN', 'TUNISIA', 'PALESTINE', 'EIT', 'CENTRAL GROUP', 'HONDURAS', 'NAMIBIA', 'BULGARIA', 'MONACO', 'SPAIN', 'ESTONIA', 'SWITERLAND', 'SWITZER', 'SWITZERLAND', 'CANADA', 'CYPRUS', 'GERMANY', 'OECD', 'SICA', 'SYRIAN ARAB REPUBLIC', 'SYRIA', 'NEPAL', 'TONGA', 'BARBADOS', 'GABON', 'PORTUGAL', 'TUVALU', 'US', 'VENEZUELA', 'VENEZULA', 'JUSSCANZ', 'JUSCANZ', "COTE D'IVOIRE", 'AILAC', 'BRUNEI', 'BANGLADESH', 'VISEGRAD GROUP', 'SOMALIA', 'BELIZE', 'BASIC', 'MONGOLIA', 'TIMOR LESTE', 'PAKISTAN', 'ALBANIA', 'DOMINICAN REPUBLIC', 'GROUP OF NINE', 'YUGOSLAVIA', 'SLOVAKIA', 'POLAND', 'AUSTRIA', 'SEYCHELLES', 'GUYANA', 'NIGERIA', 'BELGIUM', 'MALI', 'HUNGARY', 'SENEGAL', 'ALBA', 'GREECE', 'IRAQ', 'ISRAEL', 'NEW ZEALAND', 'DJIBOUTI', 'for the Environmental Integrity Group', 'ENVIRONMENTAL INTEGRITY GROUP', 'EIG', 'KYRGYZSTAN', 'SURINAME', 'UZBEKISTAN', 'GHANA', 'THAILAND', 'DENMARK', 'BOSNIA AND HERZEGOVINA', 'EGYPT', 'KUWAIT', 'ALGERIA', 'MOLDOVA', 'ANGOLA', 'ST. VINCENT AND THE GRENADINES', 'LAOS', 'COOK ISLAND', 'COOK ISLANDS', 'MADAGASCAR', 'UK', 'ARMENIA', 'BAHRAIN', 'CHAD', 'MEXICO', 'SWAZILAND', 'SERBIA AND MONTENEGRO', 'DOMINICA', 'ALLIANCE OF SMALL ISLAND STATES', 'AOSIS', 'BRAZIL', 'MALDIVES', 'MALTA', 'CENTRAL AFRICAN REPUBLIC', 'CAR', 'LEAST DEVELOPED COUNTRIES', 'LDCS', 'LDC GROUP', 'for the LDCs', 'for the Least Developed Countries', 'CARTAGENA DIALOGUE', 'LESOTHO', 'JAPAN', 'LITHUANIA', 'BHUTAN', 'SINGAPORE', 'AUSTRALIA', 'SIERRA LEONE', 'FRANCE', 'IRAN', 'AFRICA GROUP', 'for the Africa Group', 'AFRICAN GROUP', 'MICRONESIA', 'PAPUA NEW GUINEA', 'BURUNDI', 'URUGUAY', 'CG-11', 'SOUTH SUDAN', 'GAMBIA', 'ARGENTINA', 'RWANDA', 'PARAGUAY', 'ZAIRE', 'DEMOCRATIC REPUBLIC OF CONGO', 'DRC', 'SAUDI ARABIA', 'SAUDIA ARABIA', 'CUBA', 'NIGER', 'BOLIVA', 'BOLIVIA', 'SWEDEN']
Issue  346

In [32]:
def extract_list_issue():
     with open("Text/ENB_relationships.txt") as infile:
        k=0
        num = []
        for line in infile:
            x = line.replace('"','').split('\t')[:26]

            if(k > 0 and int(x[23]) < 594  and 100 < int(x[23])):

                num.append(int(x[23]))
            k +=1
        return list(set(num))

In [33]:
list_issue_num = extract_list_issue()

In [34]:
def extract_gen():
    frames1 = []
    frames2 = []
    for issue_number in list_issue_num:
        df1 = h1.extract_relationships_count(issue_number)
        df2 = h2.interactions(issue_number)
        frames1.append(df1)
        frames2.append(df2) 
    return pd.concat(frames1), pd.concat(frames2)

In [35]:
df_original, df_generated = extract_gen()

Issue  101
Issue  102
Issue  103
Issue  104
Issue  105
Issue  106
Issue  107
Issue  108
Issue  109
Issue  113
Issue  114
Issue  115
Issue  116
Issue  117
Issue  118
'FEDERATED STATES OF MICRONESIA'
'BAHAMAS'
'CHILE'
'EU'
'FEDERATED STATES OF MICRONESIA'
'AUSTRALIA'
'US'
'FEDERATED STATES OF MICRONESIA'
'FEDERATED STATES OF MICRONESIA'
'FEDERATED STATES OF MICRONESIA'
'FEDERATED STATES OF MICRONESIA'
'FEDERATED STATES OF MICRONESIA'
'NEW ZEALAND'
'ARGENTINA'
Issue  119
Issue  120
'UK'
'CARICOM'
'IRELAND'
'CARICOM'
'FRANCE'
'SPAIN'
'GERMANY'
'CARICOM'
'EU'
'CARICOM'
'CARICOM'
'CARICOM'
'ITALY'
'SWEDEN'
'CARICOM'
'CARICOM'
'BULGARIA'
'HAITI'
'CARICOM'
'JAPAN'
'CARICOM'
'CARICOM'
Issue  121
Issue  124
Issue  125
Issue  126
Issue  128
Issue  129
Issue  130
Issue  131
Issue  132
Issue  133
Issue  134
Issue  135
Issue  136
Issue  138
Issue  139
Issue  142
Issue  143
Issue  144
Issue  145
Issue  146
'FEDERATED STATES OF MICRONESIA'
'FEDERATED STATES OF MICRONESIA'
'SAMOA'
'FEDERATED STATES OF MICRONESIA'
'BRAZIL'
'FEDERATED STATES OF MICRONESIA'
'FEDERATED STATES OF MICRONESIA'
'PALAU'
Issue  147
Issue  148
Issue  149
'FEDERATED STATES OF MICRONESIA'
'FEDERATED STATES OF MICRONESIA'
'SAMOA'
'EU'
Issue  150
Issue  153
'SAMOA'
'FEDERATED STATES OF MICRONESIA'
'TUVALU'
'FEDERATED STATES OF MICRONESIA'
Issue  154
Issue  155
Issue  156
Issue  157
Issue  158
Issue  159
Issue  160
Issue  161
Issue  164
Issue  167
Issue  170
Issue  172
Issue  173
Issue  174
Issue  179
Issue  180
Issue  181
Issue  182
Issue  183
Issue  184
Issue  185
Issue  186
Issue  187
Issue  188
Issue  190
Issue  193
Issue  194
Issue  195
Issue  196
Issue  197
Issue  198
Issue  199
Issue  202
Issue  203
Issue  204
Issue  205
Issue  206
Issue  207
Issue  208
Issue  212
Issue  213
<built-in function id>
<built-in function id>
<built-in function id>
<built-in function id>
<built-in function id>
<built-in function id>
Issue  214
Issue  215
Issue  216
Issue  217
Issue  218
Issue  222
Issue  223
Issue  224
Issue  225
Issue  226
Issue  227
Issue  228
Issue  229
'MOZAMBIQUE'
'BELGUIM'
Issue  230
Issue  232
Issue  234
Issue  235
Issue  236
Issue  237
Issue  238
Issue  239
Issue  240
Issue  241
Issue  243
Issue  250
Issue  251
Issue  252
Issue  253
Issue  254
Issue  255
Issue  256
Issue  257
Issue  258
Issue  259
Issue  261
Issue  263
Issue  264
Issue  265
Issue  266
Issue  267
Issue  268
Issue  269
Issue  281
Issue  282
Issue  283
Issue  284
Issue  285
Issue  286
Issue  287
Issue  288
Issue  289
Issue  290
Issue  297
Issue  298
Issue  299
Issue  300
Issue  301
Issue  302
Issue  303
Issue  304
Issue  305
Issue  308
Issue  309
Issue  310
'UAE'
'ABU'
Issue  311
Issue  312
Issue  314
Issue  315
Issue  316
Issue  317
Issue  323
Issue  324
Issue  325
Issue  326
Issue  327
Issue  328
Issue  330
Issue  332
Issue  335
Issue  337
Issue  338
Issue  344
Issue  345
Issue  346
Issue  347
Issue  348
Issue  349
Issue  350
Issue  351
Issue  353
Issue  355
Issue  358
Issue  359
Issue  360
Issue  361
Issue  365
Issue  366
Issue  367
Issue  368
Issue  369
Issue  370
Issue  371
Issue  372
Issue  373
Issue  374
Issue  376
Issue  378
Issue  379
Issue  380
Issue  381
Issue  382
Issue  386
Issue  387
Issue  388
Issue  389
Issue  390
Issue  391
Issue  392
Issue  393
Issue  394
Issue  396
Issue  398
Issue  399
Issue  400
Issue  401
Issue  402
Issue  403
Issue  404
Issue  405
Issue  406
Issue  409
'CARIBBEAN COMMUNITY'
'CARICOM'
'EU'
'CARICOM'
'CARIBBEAN COMMUNITY'
'CARICOM'
Issue  411
Issue  412
Issue  413
Issue  414
Issue  415
Issue  416
Issue  417
Issue  418
Issue  419
Issue  420
Issue  423
Issue  424
Issue  425
Issue  426
Issue  429
Issue  430
'FEDERATED STATES OF MICRONESIA'
'FEDERATED STATES OF MICRONESIA'
'FEDERATED STATES OF MICRONESIA'
'TUVALU'
'FEDERATED STATES OF MICRONESIA'
Issue  431
'FEDERATED STATES OF MICRONESIA'
'US'
Issue  432
Issue  433
'FEDERATED STATES OF MICRONESIA'
'AOSIS'
'FEDERATED STATES OF MICRONESIA'
'BRAZIL'
'FEDERATED STATES OF MICRONESIA'
'PHILIPPINES'
Issue  434
Issue  435
Issue  436
Issue  437
Issue  438
Issue  443
Issue  444
Issue  445
Issue  446
Issue  449
Issue  450
Issue  451
Issue  452
'BANGLADESH'
'EGYPT'
'FEDERATED STATES OF MICRONESIA'
'FEDERATED STATES OF MICRONESIA'
'BRAZIL'
'FEDERATED STATES OF MICRONESIA'
Issue  454
Issue  455
'G-77/CHINA'
'AFRICAN GROUP'
'FEDERATED STATES OF MICRONESIA'
'FEDERATED STATES OF MICRONESIA'
'PERU'
'FEDERATED STATES OF MICRONESIA'
'AUSTRALIA'
'SWITZERLAND'
'FEDERATED STATES OF MICRONESIA'
'BRAZIL'
'FEDERATED STATES OF MICRONESIA'
'FEDERATED STATES OF MICRONESIA'
'SOUTH AFRICA'
'BRAZIL'
'FEDERATED STATES OF MICRONESIA'
'FEDERATED STATES OF MICRONESIA'
'FEDERATED STATES OF MICRONESIA'
'JAPAN'
Issue  456
Issue  457
Issue  458
Issue  460
'EGYPT'
'ARAB STATES'
Issue  462
'FEDERATED STATES OF MICRONESIA'
'BARBADOS'
'FEDERATED STATES OF MICRONESIA'
'ZAMBIA'
'JAMAICA'
'FEDERATED STATES OF MICRONESIA'
'TRINIDAD AND TOBAGO'
'FEDERATED STATES OF MICRONESIA'
'BRAZIL'
'FEDERATED STATES OF MICRONESIA'
Issue  463
Issue  464
Issue  465
Issue  466
Issue  467
'CHINA'
'FEDERATED STATES OF MICRONESIA'
'BRAZIL'
'FEDERATED STATES OF MICRONESIA'
Issue  468
Issue  469
Issue  470
'SOUTH AFRICA'
'NORWAY'
'AFRICAN GROUP'
'FEDERATED STATES OF MICRONESIA'
'FEDERATED STATES OF MICRONESIA'
'FEDERATED STATES OF MICRONESIA'
'GUATEMALA'
Issue  471
'JAPAN'
'CHINA'
'SOUTH AFRICA'
'BOLIVIA'
'EU'
'FEDERATED STATES OF MICRONESIA'
'FEDERATED STATES OF MICRONESIA'
'FEDERATED STATES OF MICRONESIA'
'FEDERATED STATES OF MICRONESIA'
'FEDERATED STATES OF MICRONESIA'
'GAMBIA'
'NORWAY'
Issue  474
Issue  475
Issue  476
Issue  477
Issue  480
'BRAZIL'
'FEDERATED STATES OF MICRONESIA'
Issue  481
Issue  482
Issue  483
'EUROPEAN UNION'
'FEDERATED STATES OF MICRONESIA'
'SWITZERLAND'
'FEDERATED STATES OF MICRONESIA'
Issue  484
Issue  488
Issue  489
Issue  490
Issue  491
Issue  492
Issue  493
Issue  494
Issue  497
Issue  499
Issue  503
Issue  504
Issue  505
Issue  506
Issue  507
Issue  508
Issue  509
Issue  510
Issue  511
Issue  512
Issue  515
Issue  516
Issue  517
Issue  519
Issue  520
Issue  524
Issue  525
Issue  526
Issue  527
Issue  528
Issue  529
Issue  530
Issue  531
Issue  532
Issue  533
Issue  536
Issue  537
Issue  538
Issue  539
Issue  540
'GRULAC'
'AUSTRALIA'
'EU'
'GRULAC'
'GRULAC'
'RUSSIAN FEDERATION'
'US'
'GRULAC'
'AOSIS'
'GRULAC'
Issue  541
Issue  542
Issue  543
Issue  544
Issue  545
Issue  549
Issue  550
Issue  551
Issue  552
Issue  553
Issue  554
Issue  557
Issue  558
Issue  559
Issue  560
Issue  561
Issue  562
Issue  563
Issue  564
Issue  565
Issue  566
Issue  568
Issue  570
Issue  571
Issue  572
Issue  573
Issue  574
Issue  575
Issue  576
Issue  577
Issue  578
Issue  579
Issue  584
'ARAB STATES'
'SAUDI ARABIA'
Issue  585
Issue  586
Issue  587
Issue  588
'SOUTH AFRICA'
'BOLIVIA'
'FEDERATED STATES OF MICRONESIA'
'FEDERATED STATES OF MICRONESIA'
Issue  589
Issue  590
Issue  591
Issue  592
Issue  593

In [47]:
df_original
#df_generated

,type,issue,id_ca,id_cb,Country A,Country B,behalf,support,agreement,opposition,criticism,cooperation
0,original,101,205,69,AFRICAN GROUP,NORWAY,0,0,1,0,0,1
1,original,101,69,205,NORWAY,AFRICAN GROUP,0,0,1,0,0,1
2,original,101,130,197,UNITED STATES,JAPAN,0,0,0,0,0,1
3,original,101,130,53,UNITED STATES,GUATEMALA,0,0,0,0,0,1
4,original,101,197,130,JAPAN,UNITED STATES,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
63,original,593,86,197,MARSHALL ISLANDS,JAPAN,0,0,0,1,0,0
64,original,593,86,201,MARSHALL ISLANDS,AUSTRALIA,0,0,0,1,0,0
65,original,593,86,50,MARSHALL ISLANDS,LIKE MINDED DEVELOPING COUNTRIES,0,0,0,1,0,0
66,original,593,29,99,INDONESIA,NAURU,0,1,0,0,0,1
67,original,593,91,36,G77,EU,0,1,0,0,0,1

In [45]:
df = pd.concat([df_generated, df_original])
df = df[['issue', 'Country A', 'Country B', 'id_ca', 'id_cb','cooperation','agreement','behalf','criticism','opposition','support','type']]
d = df.drop(['Country A','Country B','type','issue'],axis=1)
#d = df.drop(['Country A','Country B','type','agreement','behalf','criticism','opposition','support'],axis=1)

d = d.drop_duplicates(keep = False)

d.sort_values(by=['id_ca','id_cb'], inplace=True)

In [46]:
d

,id_ca,id_cb,cooperation,agreement,behalf,criticism,opposition,support
24,0,5,1.0,1.0,0.0,0.0,0.0,0.0
16,0,39,1.0,0.0,0.0,0.0,0.0,0.0
26,0,45,1.0,1.0,0.0,0.0,0.0,0.0
31,0,65,0.0,0.0,0.0,0.0,1.0,0.0
66,0,69,1.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
31,"align=""justify""&gt;The EU, also speaking for t...",210,1.0,1.0,0.0,0.0,0.0,0.0
11,"class=""textstory""&gt;Kyrgyzstan, on behalf of ...",5,1.0,1.0,0.0,0.0,0.0,0.0
12,"class=""textstory""&gt;Kyrgyzstan, on behalf of ...",124,1.0,1.0,0.0,0.0,0.0,0.0
2,"class=""textstory""&gt;Samoa, speaking for the C...",6,1.0,1.0,0.0,0.0,0.0,0.0
1,"class=""textstory""&gt;Samoa, speaking for the C...",195,1.0,1.0,0.0,0.0,0.0,0.0

missing id dict

problems

' Malaysia and Ghana, both speaking for the G-77/CHINA, suggested some additions.'Issue  283'

# Only cooperation
    With Issue : 2185 rows × 4 columns
    Without Issue : 835 rows × 3 columns

# With all of them 
    With Issue : 1183 rows × 8 columns
    Without Issue : 2794 rows × 9 columns

In [ ]:
# 100 - 594
Total number of observations
Generated : 32225
Original : 44572
Only cooperation 
    without issue : 3714 rows × 3 columns
    with issue : 18230
All interactions
    without issue : 6265
    with issue : 26326